<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Testing Suite">
	<listeners>
		<listener class-name="Base.Listeners" />
		<listener class-name="Base.RetryListener" />
	</listeners>
	<groups> 
		<run> 
			<exclude name="complex">
			</exclude>
		</run>
	</groups>
	<!--<parameter name="runMode" value="local" />-->
	<test name="Parallel Tests chrome" parallel="methods">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="MyTests.FirstSeleniumScript" />
			<!--
			<methods>
				<include name="demo0" />
			</methods>
			-->
		</classes>
	</test>
</suite> 